body{
    background-color: rgb(183, 207, 151);
}

#container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

}

#titulo h2{
    text-align: center;
}

#menu ul{
    list-style: none;

}

#menu ul li{
    display: inline;
    padding: 10px;
}

#capa{
    width: auto;
}

#capa img{
    width: 100%;
    height: 750px;
}

.imagens_promo h3{
    text-align: center;
}

.imagens_promo img{
    width: 400px;
    height: 300px;
}

.imagens_promo{
    display: inline;
    padding: 10px;
}

#central{
    text-align: center;
}

.rodape2{
    display: inline-block;
    padding: 20px;
    height: 200px;
}

#wpp{
    width: 60px;
    height: 60px;
}

#face{
    width: 60px;
    height: 60px;
}

#insta{
    width: 60px;
    height: 60px;
}

.rodape2 ul{
    list-style: none;
}

#rodape{

    text-align: center;
    background-image: linear-gradient(rgb(82, 25, 25), rgb(77, 53, 26));
    color: antiquewhite;
}

#menu ul li a{
    text-decoration: none;
    color: rgb(66, 44, 14);
}

.produto img{
    width: 250px;
    height: 250px;
}

.produto{
    display: inline-block;
    vertical-align: middle;
    padding: 55px;
    color: rgb(71, 50, 21);
}

#centro{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr{
    background-color: black;
}

.y img{
    height: 200px;
}

.y{
    background-color: rgb(183, 207, 151);   
}

.x{
    background-color: rgb(122, 40, 40);
    color: antiquewhite;
}

.a{
    background-color: rgb(122, 40, 40);
    color: antiquewhite;
}